<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Recognition</title>
    {% csrf_token %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/fontawesome/css/all.css' %}">
    <script src="{% static 'myapp/js/script.js' %}"></script>
</head>
<body>
    <button onclick="startListening()" id="record"><i class="fas fa-microphone"></i></button>
    <br>
    <textarea id="result"></textarea>
</body>
</html>
